@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap");

/* root styling */
:root {
  --light: #e5f073;
  --secondary: #adb5bd;
  --dark: #343a40;
  --primary-color: #0b3ee4; 
  --secondary-color: #2ec4b6;
  --border: #e9ecef; 
}

/* * > * */
* { 
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* global styling */
.text-light {
  color: var(--light);
}
.text-secondary {
  color: var(--secondary);
}
.text-dark {
  color: var(--dark);
}
.text-primary {
  color: var(--primary-color);
}
.bg-light {
  background-color: var(--light);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.img-fluid {
  width: 100%;
}
.text-title {
  font-family: "DM Sans";
  font-weight: bold;
}
.secondary-title {
  font-family: "Poppins";
}

.btn {
  padding: 15px 20px;
  border: none;
}
.btn-primary {
  border-radius: 4px;
  background-color: var(--secondary-color);
}
.object-fit {
  max-height: 120px;
  height: 80px;
  width: 80px;
  object-fit: fill;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 50px;
}
.mb-3 {
  margin-bottom: 30px;
}

.px-1{
    padding: 0 5px;
}
.px-2{
    padding: 0 20px;
}
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}



/* section styling  */

/* Nav Menu  */
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-brand {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
}

.categories {
  align-self: center;
}

.nav-link {
  font-size: 18px;
  margin: 12px;
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  color: var(--primary-color);
}

.search-box {
  display: inline;
  border-right: 1px solid var(--secondary);
  padding-right: 12px;
  margin-right: 10px;
}
.toggle-button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin: 8px 10px;
  display: none;
}
.toggle-button:focus {
  outline: none;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 574px) {
  .toggle-button {
    display: initial;
  }
  .collapse {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(1, 0.04, 0.24, 1.24);
  }

  .nav-link {
    display: block;
    text-align: center;
  }
  .search-box {
    border-right: none;
  }

  .collapse-toggle {
    max-height: 500px;
  }
}

/* Nav Menu  */

/* Main Section */

#site-main {
  margin-top: 8em;
}

#posts {
  margin-bottom: 5em;
}

.grid {
  margin: 0 auto;
}
.grid-item {
  width: calc(33.3333% - 20px);
  margin-bottom: 3em;
}
.display-1 {
  font-size: 22px;
}
.display-2 {
  font-size: 16px;
}
.display-3 {
  font-size: 14px;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .grid-item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 574px) {
  .grid-item {
    width: calc(100% - 20px);
  }
}

/* Main Section End*/

/* Footer */
#footer {
  padding-top: 4em;
}
.row {
  display: flex;
}
.col-3 {
  flex: 0 0 33.333%;
  max-width: 33.3333%;
  padding-right: 35px;
}
.flex-item{
    margin-bottom: 10px;
}
.tags a{
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 15px;
}
.copyrights{
    padding: 10px 0;
    border-top: 2px solid var(--light) ;
}


@media (max-width: 1024px) {
  .row {
    flex-wrap: wrap;
  }
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 35px;
  }
}
@media (max-width: 768px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 35px;
  }
}
/* Footer End */

.video{
    background-color: #d3daa9;
    display: flex;
    justify-content: center;

}

.main{
    display: inline-block;
    justify-self: start;
}

.main aside{
    margin: 50;
}

.footer{
    display: flex;
    /* background-color: #dcd7d7d0; */

    background-color: #0b3ee4;
    text-align: center;
    justify-content: center;
}

#copy{
    padding: 0;
}
/* Media query */



/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

header{
    background-color: rgb(240, 243, 120);
}

.navbar-top{
    display: flex;
    align-items: center;

}

.categories {
    
    flex-shrink: 0;
    flex-wrap: wrap;
    flex:1;
  

    color: blue;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 3em 1em;

}

.fruits  {
    cursor: pointer;
   
     border: 1px solid;
     border-color: brown;
     border-radius: 10px;
     padding: 10px 5px;
} 

.veggies{
    cursor: pointer;
    border: 1px solid;
    border-color: brown;
    padding: 30px 0px;

}

.specials{
    cursor: pointer;
    border: 1px solid;
    border-color: brown;

} */