*{
  margin: 0;
  padding: 0;
}

.header {
    /* width: 100%; */
    width: 1390px;
    height: 8rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #7ee693c6;
    padding: 0 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    /* flex-wrap: wrap; */
    /* height: 8rem;
    background-color: #7ee693f8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    width: 1390px;
    list-style: none; */
  /* margin: 0; */
  /* position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  align-items: center;
  -webkit-flex-flow: row wrap; */
  }

  .logo {
    /* font-size: 2rem; */
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    margin-top: 50px;
    /* color: white; */
    justify-content: space-between;
    /* font-weight: bold; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
    margin-left: 0;

  }

  .logo:hover{
    width: 80%;
    height: 80%;
    margin-top: 100px;
    box-shadow: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4)
    
  }
  
  .header ul {
    list-style: none;
    display:flex;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    text-decoration: none;
  } 
/* 
  .ul_center{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 50px;
  }
   */
  .header li {
    margin-left: 2rem;
    text-decoration: none;
    color:rgba(93, 177, 114, 0.795);
  }
  
  .header a {
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    color: white;
    text-decoration: wavy;

  }
  
  /* .header a:hover {
    background: rgba(0, 212, 53, 0.795);
  } */
.btn{
  border: none ;
  border-radius: 6px ;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  /* background-color: rgba(176, 223, 195, 0.703); */
  background-color: rgba(234, 221, 221, 0.373);
  cursor: pointer;
  font-weight: bold;
}

  .btn:hover {
    background: rgba(93, 177, 114, 0.795);
    border-radius: 6px;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  /* .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  } */

  .btn_center{
    display: flex;
    margin-left: auto;
    margin-top: 70px;
    justify-content: center;
    padding: 10px 20px;
    
  }

  .btn_left{
    display: flex;
    padding: 5px 10px;
    /* margin-left: auto; */
    /* padding: 10px 15px; */
    /* justify-content: space-around; */

  }