.header {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7ee693;
    padding: 0 10%;
  }
  
  .logo {
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    display:flex;
    text-align: left;
    width: 70vw;
    justify-content: flex-end;
  }
  
  .header li {
    margin-left: 1rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    color: white;
  }
  
  .header a:hover {
    background: rgb(0,212, 212);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

  .btn_center{
    display: flex;
    margin-right: auto;
  }