/* 
.header{
    margin: 0;
    padding: 0;
}



.appbar{
    height: 20vh;
    color: bisque;
    background-color: rbg(255, 255, 83);
}

.btn{
    text-decoration: none;
    text-align: center;
    color: rgb(rgb(240, 182, 182), green, blue)
}

.btn_center{
padding: 10px;
}

.separator{
    size: 10px;
}


/* .btn1 {
    color: yellow;
    padding: 10px;
}

.btn2{
    font-size: large;
    padding: 10px;
} */
/* .btnSignUp{
    color: brown;
}

.btn:hover{
    background-color: rgb(225, 231, 111);
} */

/* .btn-center{
    text-align: center;
    color: red;
} */

 /* center{
    color: blue;
    padding: 10px;
} */ 

/* 
.header{
    margin: 0;
    padding: 0;
}

.appbar{
    background-color: rgb(255, 250, 97);
}

.logo{
    margin-top: 10px;
}

.btn{
    color: rgb(187, 186, 176);
    text-decoration: none;
}

.btn_center{
    margin-top: 100px;
    margin-right: auto;
    text-align: center;
}

.btn_left{
    margin: 1px;
} */
/* 
.appber{
    background-color: darkkhaki;
}
 */
