.body{
    /* background-color: rgb(237, 234, 147); */
	background-color: transparent;	

}

.video{
    display: block;
    position: relative;
    margin: 50% 50%;
    padding-left: 350px;
    width: 1000px;
}