.form{
    color: black;
}

.popup{
    background-color: black;
}

.btn_sign{
    background-color: aqua;
    cursor: pointer;
}

.lable{
    text-align: left;
    padding: 15px;
    margin: 10px;
    
}

.input{
    border-radius: 3px;
    padding: 3px 30px;
}