
  .footer {
      /* width: 100%; */
      width: 1550px;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #d4e9d8da;
      /* padding: 0 5%; */
      /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4) */
      padding-bottom: 0;
    
    }
  
    .icon{
        display: flex;
        size: 10px;
        justify-content: center;
    }