.popup_box{
    position: fixed;
        /* background-color: rgb(210, 243, 220); */
    background-color: rgba(0,0,0,0.5);
    left:0;
    top:0;
    width:100%;
    height: 100vh;
}

.box{
    position: relative;
    width: 30%;
    min-height: 300px;
    /* background-color: #fff; */
    /* background-color: rgb(226, 238, 229);  */
    background-color: rgb(201, 239, 211); 
    border: 1px, solid, #999;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 0 2px 1px 4px rgba(190, 171, 171, 0.455)

}

.btn_close{
    cursor: pointer;
    background-color: rgb(241, 235, 235);
    border: 4px solid rgb(250, 235, 235);
    border-radius: 10%;
    position: static;
    /* right: calc(25%- 20%); */
    top: 15px;
    left: 100px;
    /* background-color: #fbff0020; */
}
